<body>
  <div class="container text-center">
    <h1>Lane Analyst</h1>
    <div class="row">
      <div class="col-5">
        <div class="input-group">
          <input type="text" class="form-control" id="champ1" placeholder="{{c1.name}}">
          </span>
        </div>
      </div>
      <div class="col-2">
        <button class="btn btn-secondary" type="button" onclick="getChamps()">Search Again</button>
      </div>
      <div class="col-5">
        <div class="input-group">
          <input type="text" class="form-control" id="champ2" placeholder="{{c2.name}}">
          <span class="input-group-btn">
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>{{c1.name}}</h1>
      </div>
      <div class="col">
        <h1>{{c2.name}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col"><h4>Offense</h4></div>
    </div>
    <div class="row">
      <div class="col lol">
        Attack Damage: {{c1.stats.attackdamage}}
      </div>
      <div class="col-xs mid">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </div>
      <div class="col lol">
        Attack Damage: {{c2.stats.attackdamage}}
      </div>
    </div>
    <div class="row">
      <div class="col lol">
        Attack Range: {{c1.stats.attackrange}}
      </div>
      <div class="col-xs mid">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </div>
      <div class="col lol">
        Attack Range: {{c2.stats.attackrange}}
      </div>
    </div>
    <div class="row">
      <div class="col lol">
        Critical Strike Chance: {{c1.stats.crit}}
      </div>
      <div class="col-xs mid">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </div>
      <div class="col lol">
        Critical Strike Chance: {{c2.stats.crit}}
      </div>
    </div>
    <div class="row">
      <div class="col lol">
        Attack Speed:
      </div>
      <div class="col-xs mid">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </div>
      <div class="col lol">
        Attack Speed:
      </div>
    </div>
    <div class="row">
      <div class="col"><h4>Defense</h4></div>
    </div>
    <div class="row">
      <div class="col lol">
        Health: {{c1.stats.hp}}
      </div>
      <div class="col-xs mid">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </div>
      <div class="col lol">
        Health: {{c2.stats.hp}}
      </div>
    </div>
    <div class="row">
      <div class="col lol">
        Health Regen: {{c1.stats.hpregen}}
      </div>
      <div class="col-xs mid">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </div>
      <div class="col lol">
        Health Regen: {{c2.stats.hpregen}}
      </div>
    </div>
    <div class="row">
      <div class="col lol">
        Armor: {{c1.stats.armor}}
      </div>
      <div class="col-xs mid">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </div>
      <div class="col lol">
        Armor: {{c2.stats.armor}}
      </div>
    </div>
    <div class="row">
      <div class="col lol">
        Magic Resist: {{c1.stats.spellblock}}
      </div>
      <div class="col-xs mid">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </div>
      <div class="col lol">
        Magic Resist: {{c2.stats.spellblock}}
      </div>
    </div>
    <div class="row">
      <div class="col lol">
        Movespeed: {{c1.stats.movespeed}}
      </div>
      <div class="col-xs mid">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </div>
      <div class="col lol">
        Movespeed: {{c2.stats.movespeed}}
      </div>
    </div>
    <div class="row">
      <div class="col"><h4>Magic</h4></div>
    </div>
    <div class="row">
      <div class="col lol">
        Ability Power: 0
      </div>
      <div class="col-xs mid">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </div>
      <div class="col lol">
        Ability Power: 0
      </div>
    </div>
    <div class="row">
      <div class="col lol">
        Magic Penetration: 0
      </div>
      <div class="col-xs mid">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </div>
      <div class="col lol">
        Magic Penetration: 0
      </div>
    </div>
    <div class="row">
      <div class="col lol">
        Mana: {{c1.stats.mp}}
      </div>
      <div class="col-xs mid">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </div>
      <div class="col lol">
        Mana: {{c2.stats.mp}}
      </div>
    </div>
    <div class="row">
      <div class="col lol">
        Mana regen: {{c1.stats.mpperlevel}}
      </div>
      <div class="col-xs mid">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </div>
      <div class="col lol">
        Mana regen: {{c2.stats.mpperlevel}}
      </div>
    </div>
  </div>
</body>
